@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 14px;
  scroll-behavior: smooth; }

body {
  font-size: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'roboto', 'sans-serif';
  display: flex;
  flex-flow: column wrap;
  width: 100vw; }

a:visited {
  text-decoration: none;
  color: #ffffff; }

a:link {
  text-decoration: none; }

/* Header */
.header-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
  background-image: url(images/skateboard-height.jpg);
  background-size: cover;
  background-position-x: center;
  text-transform: uppercase; }
  .header-container::after {
    content: "";
    position: absolute;
    background: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    top: 0;
    z-index: 1; }

.menu-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  padding: 11px 5vw 0 5vw;
  align-items: center;
  z-index: 5;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: background-color 0.5s ease; }

.menu-container--colored {
  background-color: black; }

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  z-index: 3;
  align-items: center; }

.menu-first-item {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-right: 3vw;
  color: #ffffff;
  font-size: 1.4rem;
  flex: 1;
  order: 1; }

.menu-list {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
  order: 3; }

.current .menu-list-item {
  color: #cccccc;
  border-bottom: 0.2vh solid #cccccc;
  padding-bottom: 0.1vh; }

.menu-list-item {
  white-space: nowrap;
  color: #ffffff;
  opacity: 0;
  cursor: pointer; }
  .menu-list-item:hover {
    color: #cccccc;
    border-bottom: 0.2vh solid #cccccc;
    padding-bottom: 0.1vh; }

.searcher-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
  flex: 1;
  order: 2;
  animation: reverse-scaling 1s ease forwards; }
  .searcher-container input {
    flex: 3;
    width: 22vw; }
  .searcher-container button {
    flex: 1;
    text-transform: uppercase;
    text-shadow: 0 0 0.5px black;
    cursor: pointer;
    background: black;
    color: #ffffff;
    border: 1px solid transparent; }
    .searcher-container button:hover {
      background: #cccccc;
      color: black; }
    .searcher-container button:active {
      background: #999999;
      color: black; }

.searcher-item {
  border: none;
  border-radius: 5px;
  padding: 0.5vh 2vw;
  font-family: 'roboto', 'sans-serif';
  font-size: 0.8rem; }

.searcher--active {
  animation: scaling 1s ease forwards;
  z-index: 4; }

@keyframes scaling {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes reverse-scaling {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

.searcher-icon-container {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  flex: 1 1 10%;
  justify-content: space-around;
  z-index: 3; }

.searcher-icon {
  animation: reverse-rotating 1s ease forwards; }

.toggle--searcher .searcher-icon {
  animation: rotating 1s ease forwards; }

@keyframes rotating {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes reverse-rotating {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.social-media-list {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  flex: 2;
  justify-content: space-around;
  z-index: 3; }

.social-media-item {
  white-space: nowrap;
  color: #ffffff;
  font-size: 1rem;
  flex: 1;
  text-align: center; }
  .social-media-item:hover {
    opacity: 0.8; }

.down-header {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  padding: 16vh 5vw;
  align-items: center; }

.down-header-item {
  white-space: nowrap;
  color: #ffffff;
  flex: 1;
  text-align: center;
  padding: 5vh 0;
  font-size: 5rem;
  line-height: 4rem;
  display: flex;
  flex-flow: column wrap;
  text-shadow: 1px 1px 2px black;
  z-index: 2; }
  .down-header-item:nth-child(1) {
    opacity: 0.8; }
    .down-header-item:nth-child(1)::after {
      content: "of the box";
      font-size: 3.5rem;
      line-height: 2.8rem;
      font-weight: bold; }

.header-button {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50px;
  padding: 1.5vh 4vw;
  font-size: 0.9rem;
  color: black;
  font-family: 'roboto', 'sans-serif';
  background: #ffffff;
  text-shadow: 0 0 1px black;
  border: none; }
  .header-button:hover {
    background: #cccccc; }
  .header-button:active {
    background: #999999;
    border: none; }
